.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    color: #ddd;
    border-bottom: 6px soild #000000;
}

.navbar .logo{
    width: max(12vw, 120px);
}

.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar li{
    cursor: pointer;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: max(1vw, 12px);
}

.nav-right select{
    padding: 5px 8px;
    border-radius: 8px;
    border: 4px solid white;
    background: transparent;
    color: white;
}
.nav-right option{
    background-color: #000000;
    color: rgba(255, 255, 255, 50%);
}
.nav-right button{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 25px;
    border-radius: 23px;
    font-size: 15px;
    font-weight: 500;
    color: #393939;
    background: white;
    border: ridge;
    cursor: pointer;
}

.nav-right button img{
    width: 13px;
}