.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.hero h1{
    font-size: max(3vw,40px);
}
.hero h3{
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
    font-weight: 1600;
    font-size: larger;
}

.hero form{
    padding: 10px;
    width: 75%;
    background-color: white;
    border-radius: 5px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input{
    flex: 1;
    font-size: 18px;
    outline: none;
    border: none;
    padding-left: 12px;
}

.hero input:focus{
    border: 3px purple dotted; 
    border-right: purple;
    border-top: purple;
    padding: 10px;
    
}

.hero button{
    border: none;
    background: #7927ff;
    color: black;
    font-size: 20px;
    font-display: block;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
}

.crypto-table {
    max-width: 1000px;
    margin: auto;
    background: linear-gradient(rgba(128, 0, 128, 0.5),rgba(0, 0, 255, 0.7));
    border-radius: 15px;
}
.table-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: first baseline;
    border-bottom: 1px solid #3c3c3c;
}
.market-cap{
    text-align: right;
}